.foodlist-container{
    background-image: url('https://images.unsplash.com/photo-1604719312566-8912e9227c6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80');
    height: 94vh;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foodlist-form{
    height: 60%;
    width: 40%;
    background-color: white;
    border-radius: 6%;
}